<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="AMSService" value="10.20.1.145:83" />
    <!--<add key="AMSService" value="localhost:51599"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="adms" connectionString="Data Source=PMISDB;Initial Catalog=adms;Integrated Security=SSPI; Persist Security Info=False;" providerName="System.Data.SqlClient" />
    <add name="FMCS" connectionString="Data Source=CLS-DBSRVINS2\TFS;Initial Catalog=fmcs;Integrated Security=SSPI; Persist Security Info=False;" providerName="System.Data.SqlClient" />
    <add name="SPIS" connectionString="Data Source=CLS-DBSRVINS2\TFS;Initial Catalog=SPIS;Integrated Security=SSPI; Persist Security Info=False;" providerName="System.Data.SqlClient" />
    <add name="OFMS" connectionString="Data Source=it-tfs;Initial Catalog=ofms;Integrated Security=SSPI; Persist Security Info=False;" providerName="System.Data.SqlClient" />
    <add name="rayvarz" connectionString="Data Source=misdb\misdb;Initial Catalog=OIECRAY92;Persist Security Info=True;User ID=Transfer;Password=transfer" providerName="System.Data.SqlClient" />
    <add name="SMIS" connectionString="Data Source=CLS-DBSRVINS2\TFS;Initial Catalog=SMIS;Integrated Security=SSPI; Persist Security Info=False;" providerName="System.Data.SqlClient" />
    <add name="RIS" connectionString="Data Source=it-tfs;Initial Catalog=RIS;User ID=gatepass;PASSWORD=ssgatepa;Connect Timeout=0" providerName="System.Data.SqlClient" />
    <add name="inout" connectionString="Data Source=oiecSERVER\InternalDB;Initial Catalog=inout;user Id=IntranetRunner;password=IntranetRunner;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="IntranetDB" connectionString="Data Source=PMISDB;Initial Catalog=IntranetDB;user Id=IntranetRunner;password=IntranetRunner;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="eOIEC" connectionString="Data Source=it-tfs;Initial Catalog=eOIEC;user Id=IntranetRunner;password=IntranetRunner;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="AMS" connectionString="Data Source=CLS-DBSRVINS2\TFS;Initial Catalog=AMS;user Id=IntranetRunner;password=IntranetRunner;Integrated Security=False;Connect Timeout=772000" providerName="System.Data.SqlClient" />
    <add name="SPEntDB" connectionString="Data Source=oiecSERVER\InternalDB;Initial Catalog=SPEntDB;user Id=IntranetRunner;password=IntranetRunner;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="ICT" connectionString="Data Source=oiecSERVER\InternalDB;Initial Catalog=ICT;user Id=IntranetRunner;password=IntranetRunner;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="HRM" connectionString="Data Source=pmisdb;Initial Catalog=HRM;Integrated Security=SSPI; Persist Security Info=False;" providerName="System.Data.SqlClient" />
    <add name="SIMS" connectionString="Data Source=pmisdb;Initial Catalog=SIMS;User ID=gatepass;PASSWORD=ssgatepa;Connect Timeout=0" providerName="System.Data.SqlClient" />
    <add name="PwKara" connectionString="Data Source=MISDB\MISDB;Initial Catalog=PwKara;user Id=IntranetRunner;password=IntranetRunner;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="Invoice" connectionString="Data Source=MISDB\MISDB;Initial Catalog=Invoice;user Id=SaleInvoice;password=SaleInvoice1393;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="Ray" connectionString="Data Source=MISDB\MISDB;Initial Catalog=OIECRAY92;user Id=SaleInvoice;password=SaleInvoice1393;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="ES" connectionString="Data Source=MISDB\MISDB;Initial Catalog=HRM;user Id=IntranetRunner;password=IntranetRunner;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="src" connectionString="Data Source=PMISDB;Initial Catalog=Sourcingdb;user Id=IntranetRunner;password=IntranetRunner;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="RIS_NewConnectionString" connectionString="Data Source=pmisdb;Initial Catalog=RIS_New;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RIS_NewConnectionString" connectionString="Data Source=pmisdb;Initial Catalog=RIS_New;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AMS_ITTFS" connectionString="Data Source=it-tfs;Initial Catalog=AMS;User ID=gatepass;PASSWORD=ssgatepa;" providerName="System.Data.SqlClient" />
    <add name="P6" connectionString="Data Source=sap-data2;Initial Catalog=P6_EPMDB;User ID=p6user;PASSWORD=p6user;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>